body{
    font-family: sans-serif;
    background-image: linear-gradient(146.58deg, #f4f9fb 0%, #f1e3d5 21%, #f7c8b6 46%, #f2c898 71%, #eaeff2 100%);
    background-position: center;
    background-repeat: no-repeat;
    height: 115vh;
    /* background-image: linear-gradient(to right,#fefefd, #fdfdfc); */
    /* background: hsla(49, 25%, 86%, 0.5); */
}

#section1, #section2{
    width: 32%;
    margin: auto;
    background-image: linear-gradient(to right, rgb(230, 241, 251), rgb(218, 211, 202));
    padding: 40px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 50px;
}

#section2{
    display: none;
}

#login, #addProduct{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#login > *, #addProduct > *{
    padding:20px 8px;
    font-size: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
}

#login > input:nth-child(3), #addProduct > input:nth-child(6){
    background-color: #f19380;
    color: white;
    cursor: pointer;
}

#login > input:nth-child(3):hover, #addProduct > input:nth-child(6):hover{
    background-color: #d36049;
}

h1{
    font-size: 40px;
    color:rgb(81, 25, 89);
    text-shadow: 2px 2px #ff0000;
    text-align: center;
}

#status{
    width: 50%;
    height: 130px;
    position: absolute;
    top: 10px;
    left: 320px;
    display: grid;
    place-items: center;
    display: none;
    font-size: 40px;
    color: rgb(186, 247, 247);
    background-color: hsla(20, 97%, 48%, 0.5);
    backdrop-filter: blur(5px);
    text-align: center;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

form > input[type='submit']:active{
   scale: 0.97;
}