/* ***************************************************** */

/* font Adding */

@font-face {
    font-family: "AvenirNext-Regular";
    src: url(/font/avenir_next_regular/AvenirNext-Regular.ttf);
}

/* ***************************************************** */

/* Body */

*{
    margin: 0px;
    padding: 0px;
    font-family: "AvenirNext-Regular",sans-serif;
}

/* ***************************************************** */

/* topOfferSlide */

.topOfferSlide{
    display: flex;
    margin: auto;
    background-color: #EE806B;
    padding-top: 20px;
    position: sticky;
    z-index: 1;
}

.mySlides {
    display: flex;
    margin: auto;
    background-color: #EE806B;
    float: left;
}

.a{
    text-decoration: none;
    font-size: 11px;
}

.mySlides a{
    /* font-weight: bolder; */
    /* text-decoration: none; */
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.6px;
    color: white;
    text-align: center;
    font-weight: bold;
    padding-left: 7px;
}

.mySlides p{
    margin-top: 0px;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.6px;
    color: white;
}

/* ***************************************************** */

/* dotSlide */

.dotSlide{
    text-align:center;
    padding-bottom: 10px;
    height: 15px;
    background-color: #EE806B;
}

.dot {
  height: 4px;
  width: 4px;
  margin: 0 1px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #F8CCC4;
}

/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* ***************************************************** */

/* grayBar */

.grayBar{
    height: 50px;
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    /* padding-top: 10px; */
}

.grayBar :nth-child(1)
{
    padding: 12.5px 25px 12.5px 25px;
    margin: 0px 0px 0px 60px;
    color: #182C52;
    font-size: 14px;
    line-height: 23px;
    font-weight: 400px;
    font-weight: bold;
    letter-spacing: 3px;
    background-color: white;
    text-decoration: none;
    /* border: 1px solid red; */
}

.grayBar :nth-child(2)
{
    margin: 0px 825px 0px 28px;
    height: 18px;
}

.fouricon
{
    margin: 0px 0px 0px 30px;
    height: 23px;
    /* border: 1px solid red; */
}


/* ***************************************************** */

/* bigLogo */

.bigLogo
{
    margin: 35px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
}

.bigLogo a
{
    display: flex;
    margin: auto;
    text-align: center;
    color: #24272a;
    font-size: 20px;
    line-height: 23px;
    font-weight: 400px;
    font-weight: bold;
    letter-spacing: 4px;
    text-decoration: none;
    border: 1px solid red;
}

/* ***************************************************** */

/* category */

.category{
    margin: 0px;
    padding: 0px;
    height: 70px;
    border: 1px solid red;

}

/* ***************************************************** */

/* offerAndBut */

.offerAndBut{
    height: 345px;
    background-color: #C2DAD2;
    border: 1px solid red;
}

.offerAndBut h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EE806B;
    /* font-size: 25px; */
    font-weight: 400;
    /* line-height: 36px; */
    font-weight: bolder;
    margin: 100px 0px 15px 0px;
}

.offBut{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 15px 0px;
}

.offBut button{
    padding: 15px 45px 15px 45px;
    margin: 0px 10px 0px 0px;
    border-radius: 25px;
    border: none;
    background-color: white;
    font-weight: bold;
    color: #EE806B;
}

.offerAndBut a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: #EE806B;
}

/* ***************************************************** */

/* No1Img */

.No1Img {
    /* background-image: url(/Media/homePage/01.jpg); */
    margin-top: 30px;
    border: 1px solid red;
}

.No1Img img{
    width: 100%;
}

/* ***************************************************** */