/* ***************************************************** */

/* font Adding */

@font-face {
    font-family: "AvenirNext-Regular";
    src: url(/font/avenir_next_regular/AvenirNext-Regular.ttf);
}

/* ***************************************************** */

/* Body */

body{
    margin: 0px;
    padding: 0px;
    font-family: "AvenirNext-Regular",sans-serif;
}

/* ***************************************************** */

/* topOfferSlide */

.topOfferSlide{
    display: flex;
    margin: auto;
    background-color: #EE806B;
    padding-top: 20px;
}

.mySlides {
    display: flex;
    margin: auto;
    /* border: 1px solid red; */
    background-color: #EE806B;
}

.a{
    text-decoration: none;
    font-size: 11px;
}

.mySlides a{
    /* font-weight: bolder; */
    /* text-decoration: none; */
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.6px;
    color: white;
    text-align: center;
    font-weight: bold;
    padding-left: 7px;
}

.mySlides p{
    margin-top: 0px;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.6px;
    color: white;
}

.dotSlide{
    text-align:center;
    padding-bottom: 10px;
    height: 15px;
    background-color: #EE806B;
}

/* ***************************************************** */

/* dotSlide */

.dot {
  height: 4px;
  width: 4px;
  margin: 0 1px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #F8CCC4;
}

/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* ***************************************************** */

/* grayBar */

.grayBar{
    height: 50px;
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    /* padding-top: 10px; */
}

.grayBar :nth-child(1)
{
    padding: 12.5px 25px 12.5px 25px;
    margin: 0px 0px 0px 65px;
    color: #182C52;
    font-size: 14px;
    line-height: 23px;
    font-weight: 400px;
    font-weight: bold;
    letter-spacing: 3px;
    background-color: white;
    text-decoration: none;
    /* border: 1px solid red; */
}

.grayBar :nth-child(2)
{
    margin: 0px 0px 0px 35px;
    /* height: 18px; */
}

.grayBar :nth-child(3)
{
    margin: 0px 0px 0px 35px;
    height: 23px;
    border: 1px solid red;
}


/* ***************************************************** */

/* bigLogo */

.bigLogo
{
    margin: 50px 0px 0px 600px;
    height: 50px;
    background-color:white;
}

.bigLogo a
{
    display: flex;
    margin: auto;
    text-align: center;
    color: #24272a;
    font-size: 21px;
    line-height: 23px;
    font-weight: 400px;
    font-weight: bold;
    letter-spacing: 4px;
    text-decoration: none;
}

/* ***************************************************** */



/* ***************************************************** */