/* ***************************************************** */

/* font Adding */

@font-face {
    font-family: "AvenirNext-Regular";
    src: url(/font/avenir_next_regular/AvenirNext-Regular.ttf);
}

/* ***************************************************** */

/* Body */

*{
    margin: 0px;
    padding: 0px;
    font-family: "AvenirNext-Regular",sans-serif;
    /* border: 1px solid red; */
}

/* ***************************************************** */

/* topOfferSlide */

.topOfferSlide{
    display: flex;
    margin: auto;
    background-color: #EE806B;
    padding-top: 20px;
    position: sticky;
    z-index: 1;
}

.mySlides {
    display: flex;
    margin: auto;
    background-color: #EE806B;
    float: left;
}

.a{
    text-decoration: none;
    font-size: 11px;
}

.mySlides a{
    /* font-weight: bolder; */
    /* text-decoration: none; */
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.6px;
    color: white;
    text-align: center;
    font-weight: bold;
    padding-left: 7px;
}

.mySlides p{
    margin-top: 0px;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.6px;
    color: white;
}

/* ***************************************************** */

/* dotSlide */

.dotSlide{
    text-align:center;
    padding-bottom: 10px;
    height: 20px;
    background-color: #EE806B;
}

.dot {
  height: 4px;
  width: 4px;
  margin: 0 1px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #F8CCC4;
}

/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* ***************************************************** */

/* grayBar */

.grayBar{
    height: 50px;
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    /* padding-top: 10px; */
}

.grayBar :nth-child(1)
{
    padding: 13.5px 7px 13.5px 7px;
    margin: 0px 0px 0px 60px;
    color: #182C52;
    font-size: 14px;
    line-height: 23px;
    font-weight: 400px;
    font-weight: bold;
    letter-spacing: 3px;
    background-color: white;
    text-decoration: none;
    /* border: 1px solid red; */
}

.grayBar :nth-child(2) img
{
    margin: 0px 755px 0px 28px;
    height: 20px;
    background-color: transparent ;
    align-items: center;
}

.grayBar :nth-child(3) img
{
    margin: 0px 0px 0px 30px;
    height: 25px;
    background-color: transparent ;
    align-items: center;
}

.grayBar :nth-child(4) img
{
    margin: 0px 0px 0px 30px;
    height: 25px;
    background-color: transparent ;
    align-items: center;
}

.grayBar :nth-child(5) img
{
    margin: 0px 0px 0px 30px;
    height: 25px;
    background-color: transparent ;
    align-items: center;
}

.grayBar :nth-child(6) img
{
    margin: 0px 0px 0px 30px;
    height: 30px;
    background-color: transparent ;
    align-items: center;
}
#username {
    text-decoration: none;
    color: #182C52;
}

/* ***************************************************** */

/* bigLogo */

.bigLogo
{
    margin: 45px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
}

.bigLogo a
{
    display: flex;
    margin: auto;
    text-align: center;
    color: #24272a;
    font-size: 20px;
    line-height: 23px;
    font-weight: 400px;
    font-weight: bold;
    letter-spacing: 4px;
    text-decoration: none;
    /* border: 1px solid red; */
}

/* ***************************************************** */

/* category */

.category{
    margin: 0px 0px 50px 0px;
    padding: 0px;
    /* height: 70px; */
    border: none;

}

.megamenuitems ul a{
 text-decoration: none;
}

.drop {
    margin-top: 30px;
}

.center-h3 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    width: 1170px;
}

.main {
    font-weight: 600;
    /* box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px; */
    margin-top: 10px;
    font-family: 'Josefin Sans', sans-serif;
}

.main>ul {
    margin: auto;
    position: relative;
    width: 50%;
    justify-content: space-around;
    display: flex;
}

.main>ul>li {
    list-style: none;

}

.main>ul>li>a {
    color: #616161;
    text-decoration: none;
    font-size: 14px;

}

.megamenu {
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    display: flex;
    opacity: 0;
    visibility: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 1.5s;
}

.main>ul>li:hover .megamenu {
    opacity: 1;
    visibility: visible;
    top: 130%;
}

.megamenuitems ul li {
    cursor: pointer;
    color: #795548;
    font-size: 12px;
    list-style: none;
    padding: 5px;
    margin-left: 10px;
}

.nav input {
    justify-content: center;
    border-radius: 5px;
}

.megamenuitems h3 {
    font-size: 15px;
    padding: 15px;
    color: #795548;
}

.megamenuitems {
    flex-basis: 30%;
    margin: 1%;
}

.padd {
    margin-top: 55px;
}

.nav-1 {

    background-color: #FF8A65;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.nav-1>div {
    width: 40%;
}

.nav-1>div>ul {
    display: flex;
    justify-content: space-around;
}

.nav-1>div>ul a {
    text-decoration: underline;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
}

.nav-1>div>ul>li {
    justify-content: space-around;
    color: white;
    list-style: none;
    text-decoration: none;
}

hr {
    font-weight: 10;
}
   

/* ***************************************************** */

/* offerAndBut */

.offerAndBut{
    margin-top: -90px;
    height: 345px;
    background-color: #C2DAD2;
    /* border: 1px solid red; */
}

.offerAndBut h1 {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EE806B;
    /* font-size: 25px; */
    font-weight: 400;
    /* line-height: 36px; */
    font-weight: bolder;
    margin: 100px 0px 15px 0px;
}

.offBut{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 15px 0px;
}

.offBut a button{
    padding: 15px 45px 15px 45px;
    margin: 0px 10px 0px 0px;
    border-radius: 25px;
    border: none;
    background-color: white;
    font-weight: bold;
    color: #EE806B;
}

.offerAndBut a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: #EE806B;
}

/* ***************************************************** */

/* No1Img */

.No1Img {
    margin: 30px 0px 0px 0px;
}

.No1Img img{
    width: 100%;
}

.No1ImgP1{
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 1px;
    font-weight: bold;
    color: white;
    position: absolute;
    bottom:-810px ;
    left:135px;
}

.No1ImgP2{
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 1px;
    font-weight: bolder;
    color: white;
    position: absolute;
    bottom:-855px ;
    left:135px;
}

.No1ImgP3{
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 1px;
    font-weight: bolder;
    color: white;
    position: absolute;
    bottom:-890px ;
    left:135px;
}

.No1Img a button{
    padding: 15px 65px 15px 65px;
    border-radius: 25px;
    border: none;
    background-color: white;
    font-weight: bold;
    color: white;
    background-color: #EE806B;
    position: absolute;
    bottom:-960px ;
    left:135px;
}

/* ***************************************************** */

/* vImgv */

.vImgv{
    margin: 0px 0px 0px -15px;
    padding: 0px;
    display: flex;
    margin: auto;
    /* width: 100%; */
    /* height: 100%; */
    /* align-items: center; */
    /* width: 100%; */
}

.vImgv video{
    width: 100%;
    height: 430px ;
}

.vImgv img{
    width: 100%;
    height: 430px ;
}

/* ***************************************************** */

/* No2Img */

.No2Img{
    margin-top: 30px;
}

.No2Img img{
    width: 100%;
}

.No2ImgP1{
    font-size: 40px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 1px;
    font-weight: bolder;
    color: white;
    position: absolute;
    bottom:-2230px ;
    left:400px;
}

.No2ImgP2{
    font-size: 40px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 1px;
    font-weight: bolder;
    color: white;
    position: absolute;
    bottom:-2280px ;
    left:430px;
}

.No2ImgP3{
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 1px;
    font-weight: bolder;
    color: white;
    position: absolute;
    bottom:-2330px ;
    left:400px;
}

.No2ImgP4{
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 1px;
    font-weight: bolder;
    color: white;
    position: absolute;
    bottom:-2360px ;
    left:470px;
}

.No2Img a button{
    padding: 15px 60px 15px 60px;
    border-radius: 25px;
    border: none;
    background-color: white;
    font-weight: bold;
    color: white;
    background-color: #EE806B;
    position: absolute;
    bottom:-2425px ;
    left:455px;
}

/* ***************************************************** */

/* No3Img */

.No3Img{
    margin-top: 30px;
}

.No3Img img{
    width: 100%;
}

.No3ImgP1{
    font-size: 40px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 1px;
    font-weight: bolder;
    color: white;
    position: absolute;
    bottom:-3030px ;
    left:565px;
}

.No3ImgP2{
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 1px;
    font-weight: bolder;
    color: white;
    position: absolute;
    bottom:-3080px ;
    left:460px;
}

.No3ImgP3{
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 1px;
    font-weight: bolder;
    color: white;
    position: absolute;
    bottom:-3110px ;
    left:460px;
}

.No3Imgb1{
    padding: 15px 45px 15px 45px;
    border-radius: 25px;
    border: none;
    background-color: white;
    font-weight: bold;
    color: white;
    background-color: #EE806B;
    position: absolute;
    bottom:-3170px ;
    left:473px;
}

.No3Imgb2{
    padding: 15px 35px 15px 35px;
    border-radius: 25px;
    border: none;
    background-color: white;
    font-weight: bold;
    color: white;
    background-color: #EE806B;
    position: absolute;
    bottom:-3170px ;
    left:684px;
}

/* ***************************************************** */

/* tileofslide */

.tileofslide p{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #24272a;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 45px;
}

/* ***************************************************** */

/* SlideImage */

.product {
    position: relative;
    overflow: hidden;
  }
  
  .product-container {
    padding-left: 35px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .product-container::-webkit-scrollbar {
    display: none;
  }
  
  .product-card {
    flex: 0 0 auto;
    width: 390px;
    height: 500px;
    margin-right: 20px;
    /* border: 1px solid red; */
  }
  
  .product-image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
  }
  
  .product-card:hover .card-btn {
    opacity: 1;
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  
  .product-image:hover {
    background: transparent ;
    color: #fff;
  }
  
  .pre-btn,
  .nxt-btn {
    border: none;
    width: 25px;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
  }
  
  .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 0;
  }
  
  .pre-btn img,
  .nxt-btn img {
    opacity: 0.2;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }
  
  /* ************************************************ */

  /* socialMediacall */

.socialMediacall {
    margin-top: 30px;
}

.socialMediacall p{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 30px;
    text-align: center;
}

.mBold{
    font-weight: bold;
}

/* ***************************************************** */

/* twobut */

.twobut{
    margin-top: 30px;
    text-align: center;
}

.twobut button{
    padding: 18px 40px 18px 40px;
    border-radius: 30px;
    border: 2px solid rgb(218, 217, 215);
    background-color: white;
    color: black;
    margin-right: 15px;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-weight: bold;
}

/* ***************************************************** */

/* footer */

#footerp1{
    width: 90%;
    display: flex;
    margin:40px auto;
    justify-content: space-between;
}

#footerp1 > div{
    width: 48%;
    border: 1px solid rgb(210, 209, 209);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0; 
}

#footerp1 > div p{
    padding-top: 10px;
    font-weight: bold;
}

#footerp1 > div a{
    margin-left: 4px;
    color: black;
}

#midfooter{
    width: 90%;
    display: flex;
    margin:0 auto 30px auto;
    gap: 20px;
    justify-content: space-between;
    font-size: 14px;
}

#midfooter > div{
    width: 30%;
}

#midfooter > div:nth-child(2){
    display: flex;
    flex-direction: column;
    line-height: 35px;
}

#midfooter > div:nth-child(2) p{
    margin: 0;
}

#midfooter > div:nth-child(2) p:hover, #midfooter > div:nth-child(3) p:hover{
    text-decoration: underline;
}

#midfooter > div:nth-child(3) img{
    width: 20px;
}

#midfooter span{
    font-weight: bold;
}

#icons{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    font-size: 28px;
}

#lowerFooter{
    width: 90%;
    margin: auto;
    font-size: 13px;
    line-height: 35px;
}

#lowerFooter a{
    text-decoration: none;
    color: black;
}

#lowerFooter a:hover{
    text-decoration: underline;
}

#lowerFooter > div:nth-child(1){
    width: 87%;
    display: flex;
    justify-content: space-between;
}

/* ***************************************************** */