*{
    
    font-family: 'Roboto Condensed', sans-serif;
    
}
*{
    margin: 0px;
    padding: 0px;
}
html,body{
    width: 100%;
    height: 100%;
       
}
.wid8{
    width: 8%;
}
.wid25{
    width: 10%;
}
.wid100{
    width: 100%;
}
.wid50{
    width: 50%;
}
.wid40{
    width: 40%;
}
.pad25{
    padding: 25px;
}
.mb25{
    margin-bottom: 25px;
}
.mright{
    margin-left: 5px;
}
.mrtop{
    margin-top: 12px;
}
.flex{
    display: flex;
    align-items: center;
}
.imglogo{
    width: 100%;
    height: 84px;
    object-fit: contain;
}
.imflag{
    width: 10%;
    height: 40px;
}
.flexrow{
    display: flex;
    flex-direction: row;
}
.justifycontent{
    justify-content: space-between;
}
.height36{
    height: 36px;
}
.height42{
    height: 42px;
}
.fntashcolor{
    color: #666;
}
#header{
    width: 100%;
    height: 85px;
    
}
.navHeader{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.logo_Section{
    height: 100%;
}
.flagAndCart_Section{

    height: 100%;
    justify-content: end;
}
.mar12{
    margin: 12px;
}
.displaynone{
    display: none;
}
.textindent{
    text-indent: 10px;
}
.main_Body{
    width: 100%;
    height:100%;
   
}
.checkoutHeader{
    width: 100%;
    text-align: left;

}
#mainBody_wrapper{
    width: 90%;
    margin: auto;  
    box-sizing: border-box;
}
#checkoutHeader>h1{
    margin: 40px 0 30px;
}
#shopping_DeatilsParent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 80px;

}
.shipInfoHead{
    padding-bottom: 12px;
    box-sizing: border-box;
    border-bottom: 1px solid #d6d6d6;
    
}
.addressSaving{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;  
    margin-bottom: 25px;
}
.nameinpdiv{
    width: 100%;
    display: flex;
    float: left;  
}
.nameinputsfirst{
    padding: 8px;
    width: 90%;
}
.nameinputsSec{
    width: 94%;
    padding: 8px;
}
.inputs{
    width:97%;
    padding: 8px;   
}
.seclect{
    width: 100%;
    padding: 8px;
    height: 53px;
    text-indent: 18px;
}
.zipcode{
    width: 45%;
    padding: 8px;
}
.inputsstyle{
    border-radius: 5px;
    border: 1px solid #d6d6d6;
}
#orderSummarySection{
    display: flex;
    flex-direction: column;
}
.orderdetailshead{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
    box-sizing: border-box;
    border-bottom: 1px solid #d6d6d6;    
}
#displayBagitems{
    border-bottom: 1px solid #d6d6d6;
    display: flex;
    flex-direction: column;   
   
}
.itemdisplay{
   display: grid;
   grid-template-columns: 16em auto;
   gap: 20px;
   padding: 30px 0;
   box-sizing: border-box;
}
.edit{
    padding: 30px 0;
    box-sizing: border-box;
}
.itemImage{
    width: 100%;
   /* object-fit: contain;*/
}
.rewardsHead{
    padding: 30px 0;
    box-sizing: border-box;
    font-size: 22px;
}
.rewarsdsBody{
    width: 100%;
   
}
.rewardspoints{
    width: 100%;
    border: 1px solid #d6d6d6;
    border-radius: 4px 4px 0 0
}
.pointsDeatilswrapper{
    width: 80%;
    margin: auto;
    padding: 45px 20px;
    box-sizing: border-box;
}
.pointsDeatils{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.colorblue{
     color: #385adc;
     font-size: 18px;
}

.pointsdeatilsfooterh{
    width: 100%;
    border: 1px solid #d6d6d6;

}
.pointsdetailsFooter{
    
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 24px 0;
    box-sizing: border-box;
    color: #385adc;
}
.pointsdesc1{
    margin-top: 10px;
    margin-bottom: 15px;
    color: #666;
    font-size: .6875rem;
}
.promoBtn{
    width: 100%;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 15px;
    border-color: #ccc;
    color: #24272a;
    border-radius: 25px
}
.btndiv{
    margin-top: 10px;
}
#orderSummaryWrapper>div p{
    color: #666;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 14px;
    box-sizing: border-box;
}
.orderSummaryHeaddiv{
    font-size: 22px;
    padding-top: 13px;
    padding-bottom: 13px;
    box-sizing: border-box;
    border-bottom: 1px solid #d6d6d6;
}
#orderSummaryWrapper{
    border-bottom: 1px solid #d6d6d6;
}
.ordertotal{
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    color: #24272a;
}
.ordersummaryFootertext{
    margin-top: 10px;
    font-size: .6875rem;
    color: #666;
}
.footercheckbox{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    font-size: 14px;
    color: #666;

}
#shippingMethod{
    margin-top: 40px;
    width: 100%;

}
.sMHead{
    font-size: 1rem;
    line-height: 1.4375;
    margin-top: 12px;
}
.arrivalDescription{
    margin-top: 12px;
    
    
}
#methodOptionWrapper{
    margin-top: 12px;
    border: 1px solid #d6d6d6;
    border-radius: 8px;
}
.arrivingDetails{
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    border-bottom: 1px solid #ccc;
    
    margin-bottom: -1px;
}
.padleft{
    padding-left: 15px;
    box-sizing: border-box;
}
.fontsmall{
    font-size: 12px;
}
.redeemGiftwrapper{
    margin-top: 19px;
}

.redeembtn{
    padding: 16px 24px 18px;
    width: 100%;
    border-color: #ccc;
    /* text-align: left; */
   
    margin-bottom: 5px;
    border-radius: 41px
}
.giftinp{
    width: 70%;
    border-radius: 5px;
    border: 1px solid #d6d6d6;
    text-indent: 8px;
}
.giftpin{
    width: 30%;
    margin-left: 12px;
    border-radius: 5px;
    border: 1px solid #d6d6d6;
    text-indent: 8px;
}
.applybtndiv{
    
    margin-top: 19px
}
.applybtn{
    padding: 16px 24px 18px;
    width: 30%;
    border-color: #555;
    border-radius: 41px;
    color: #fff;
    background-color: #24272a;
}
#paymentCardDetails{
    border:1px solid #d6d6d6; 
    
}

#cardDetailsSection{
    width: 90%;
    margin: auto;
   
}
#payemntOptiionsSection{
    
}

.payMethods{
    width: 80%;
    margin: auto;
    height: 60px;
    align-items: center;
    /* justify-content: space-between; */
   

}
.payemnetOptioninnerDiv{
    
    
    border: 1px solid #d6d6d6;
}
#placeOrder{
    color: #fff;
background: #385adc;
border-color: #385adc;
border-radius: 25px;
height: 41px;
}

